<!-- HEADER -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      Google Maps API
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- CONTENIDO DE LA APP -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" size-md style="margin-bottom: 20px;">
        <div id="floating-panel" style="z-index: 1;">
          <form>
            <ion-item>
              <ion-label style="margin-right: 20px;">Destino</ion-label>
              <input id="idDestino" style="border: none;">
            </ion-item>
          </form>
        </div>
        <div id="map" class="mapa"></div>
      </ion-col>
      <ion-col size="3" size-md class="columna" >
        <div id="right-panel" style="margin-right: 20px;margin-left: 20px;">
          <ion-item style="margin-bottom: 20px;">
            <ion-label>Medio de transporte</ion-label>
            <ion-select id="mode" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="DRIVING" selected >Auto</ion-select-option>
              <ion-select-option value="WALKING">Caminando</ion-select-option>
              <ion-select-option value="BICYCLING">Bicicleta</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- FOOTER  -->
<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>
